.header-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
::-webkit-scrollbar {
    display: none;
}
.filehead{
    font-size: larger;
    font-weight: 800;
}
.filesize{
    font-size:medium;
    padding-bottom: 10px;
}

.scrollable-div {
    width: 300px;
    border-bottom: 1.6px solid #2bbbfa;
    background-color: #e3f7ff;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #888888 #f1f1f1;
}

.scrollable-div::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.scrollable-div::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 5px;
}

.drop-file-input {
    width: 400px;
    height: 300px;
    border: 2px dashed var(--border-color);
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--input-bg);
}

.drop-file-input input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.drop-file-input:hover,
.drop-file-input.dragover {
    opacity: 0.6;
}

.drop-file-input__label {
    text-align: center;
    color: var(--txt-second-color);
    font-weight: 600;
    padding: 10px;
}

.drop-file-input__label img {
    width: 100px;
}

.drop-file-preview {
    margin-top: 30px;
}

.drop-file-preview p {
    font-weight: 500;
}

.drop-file-preview__title {
    margin-bottom: 20px;
}

.drop-file-preview__item {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    background-color: var(--input-bg);
    padding: 15px;
    border-radius: 20px;
}

.drop-file-preview__item img {
    width: 50px;
    margin-right: 20px;
}

.drop-file-preview__item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-div{
    display: flex;
    align-items: center;
    padding-top: 2rem;
    justify-content: center;
}

.btn-blue {
    cursor: pointer;
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    border-width: 0;
    margin: 1rem;
    color: #ffffff;
    font-size:19px;
    background: #6aa3ff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .load{
    margin-top: 2.5px;
  }
  
  .btn-blue:hover {
    background: #3cb0fd;
    text-decoration: none;
  }

.drop-file-preview__item__del {
    background-color: var(--box-bg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.drop-file-preview__item:hover .drop-file-preview__item__del {
    opacity: 1;
}


.drop-file-link{
    display: flex;
    flex-direction: column;
}

.btn-container{
    display: flex;
    justify-items: center;
}

.file-name-size-parent{
    display: flex;
    flex-direction: column;
}

.file-name-size {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: flex-start;
}
